<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
  <title>Site root</title>
  </head>
  <body>
  
  <h2>Demo website root</h2>
  WOR webservice at: <%=APP_CONFIG['webservice_root']%><br />
  Chargify subdomain: <%=APP_CONFIG['shop_id']%><br />
  Chargify API key: <%=APP_CONFIG['shop_api_key']%><br />
  Shop secret: <%=APP_CONFIG['shop_secret']%><br />

  <a href="/user/">User pages</a>
  
  </body>
</html>
